.header {
  background-color: #f9b208;
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  font-weight: bold;
}

.title {
  margin: 0 auto;
  font-size: 3rem;
}

.subTitle {
  font-size: 2rem;
  color: red;
}
